.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-align: center;
    background:
        linear-gradient(135deg, #ffffff 25%, transparent 25%) -10px 0,
        linear-gradient(225deg, #ffffff 25%, transparent 25%) -10px 0,
        linear-gradient(315deg, #ffffff 25%, transparent 25%),
        linear-gradient(45deg, #ffffff 25%, transparent 25%);
    background-size: 20px 20px;
    background-color: #000000;

    &__text {
        display: inline-block;
        min-width: 50%;
        margin: 0;
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.9);
    }
}